<table class="ui basic table">
  <% if @tools %>
    <thead>
      <tr>
        <th>Name</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <% @tools.each do |t| %>
        <tr>
          <td>
            <%= t.title %>
          </td>
          <td class="checkin-checkout">
            <% if t.user_id.nil? %>
              <%= button_to "Check Out", reserve_tool_path(t), method: :patch, class: "checkout_button ui mini blue button" %>
            <% else %>
              <em>Checked out</em>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  <% end %>
</table>