<table class="ui collapsing basic table">
  <% if @tools %>
    <thead>
      <tr>
        <th>Name</th>
        <% if current_user %><th>Status</th><%end%>
      </tr>
    </thead>
    <tbody>
      <% @tools.sort.each do |t| %>
        <tr>
          <td><%= t.title %></td>
          <% if current_user %>
            <td class="checkout-return">
              <% if t.user_id.nil? %>
                <%= button_to "Check Out", reserve_tool_path(t), method: :patch, class: "checkout_button ui mini green button" %>
              <% elsif t.user_id == current_user.id %>
                <%= button_to "    Return    ", return_tool_path(t), method: :patch, class: "return_button ui mini red button" %>
              <% else %>
                <em>Checked out by <%= t.user.username %></em>
              <% end %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  <% end %>
</table>