
<% if @posts %>
  <% @posts.each do |p| %>
    <div class="column">
      <div class="ui icon header">
        <%= p.title %>
      </div>
      <p><em><%= time_ago_in_words(p.created_at) %> ago</em></p>
      <p><%= truncate(p.content, length: 200, omission: '...') %></p>
      <p><%= link_to "More", post_path(p), class: "ui blue button"%>
      </p>
    </div>
  <% end %>
<% end %>




