/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

/*******************************
            Global
*******************************/

html,
body {
  font-size: 15px;
  height   : 100%;
}

body {
  font-family     : "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  margin          : 0px;
  padding         : 0px;
  color           : #555555;
  text-rendering  : optimizeLegibility;
  min-width       : 320px;
  background-color: #FAFAFA;
}

/*******************************
          UI Overrides
*******************************/

.ui.header {
  font-family: 'Gabriela', serif;
}

.ui.header,
h1,
{
  font-weight: normal !important;
}

h2 {
  text-shadow: 2px 2px 2px #CCCCCC;
}

h1.ui.header {
  font-size: 3em;

}

h4.ui.header,
h5.ui.header,
.ui.icon.header {
  font-weight: bold !important;
}

.ui.button {
  font-weight    : normal;
  text-decoration: none;
}

a {
  color             :#CD002C;
  text-decoration   : none;
  -webkit-transition: color 0.3s ease;
  transition        : color 0.3s ease;
}

a:hover {
  color: #00731E;
}

p a {
  font-weight: bold;
}

#nav {
  padding-top     : 2rem;
  padding-bottom  : 2rem;
}

.profile-table {
  vertical-align: top;
}

table {
  margin: 0 auto !important;
}

table th, table td {
  overflow: auto;
 }

 #yellow{
  color: #E5F818;
 }

#events .button {
  background-color: #0384AE;
  color: #FFFFFF;
  border-color: gray;
}
 .centered{
  text-align: center;
 }

 .smallish{
  font-size: 12px;
 }

 #event_form {
  width: 60%;
  margin: 0 auto;
 }

 .news {
  width: 70%;
  margin: auto;
  text-align: justify;
}

 @media only screen and (max-width: 40em) {

  #event_form {
    width: 100% !important;
  }

  .news {
    width: 94%;
  }
}

.content {
  text-align: justify;
  padding: 2em 0;
}

/*******************************
          Calendar
*******************************/

.events {
  padding-top     : 3.5rem;
  padding-bottom  : 3.5rem;
  margin          : 0% -2.5%;
  background-color: #049CCE;
}

.events h2 {
  text-align : center;
  color      :#FFFFFF;
  text-shadow: none;
  font-weight:normal;
}

td a {
  text-decoration: none;

}

td a:link, td a:visited {
  color: #FFFFFF;
}

td a:hover {
  color: #CD002C;
}

a.next-month, a.previous-month{
  padding: 0px 5px;
}

@media only screen and (min-width: 48.063em) {

  .calendar {
    width: 80% !important;
  }

  .calendar tr {
    display: table-row;
  }

  .calendar th, .calendar td {
    display       : table-cell !important;
    margin        : 0;
    width         : 14.2857%;
    padding       : 0.4166em;/*10*/
    border        : 1px solid #babcbf;
    vertical-align: top;
  }

  .calendar td .day {
    display    : block;
    float      : right;
    margin     : 0;
    font-weight: normal;
  }

  .calendar td .day:before {
    display: none;
  }

  .calendar td .suffix {
    display: none;
  }
}

@media only screen and (min-width: 40em) { /*640*/

  .calendar th span {
    display: inline;
  }
}

@media only screen and (min-width: 40em) and (min-height: 20em) {

  .calendar td {
    height: 2.5em;/*30*/
  }
}

@media only screen and (min-width: 40em) and (min-height: 40em) {

  .calendar td {
    height: 6.25em;/*75*/
  }
}

/*******************************
            TOOLS
*******************************/

.tools {
  padding-top     : 3.5rem;
  padding-bottom  : 8rem;
  margin          : 0% -2.5%;
  background-color: #E5F818;
  background-image: url(/grass.png);
}

/*******************************
            Global
*******************************/

.menu .right.menu > .mobile.item {
  display: none;
}

.ui.page.grid.segment {
  padding-top   : 3.5rem;
  padding-bottom: 3.5rem;

}

.masthead.segment {
  -webkit-background-size: cover;
  background-size        : cover;
  margin                 : 0em;
  padding-top            : 4rem;
  overflow               : hidden;
  -webkit-box-shadow     : 0 -20px 10px 0 rgba(0, 0, 0, 0.1) inset !important;
  box-shadow             : 0 -20px 10px 0 rgba(0, 0, 0, 0.1) inset !important;
}

.masthead.segment .column {
  position: relative;
}

.masthead.segment .information {
  margin: 3em 1em 1em 280px;
}

.masthead.segment .information p {
  max-width: 600px;
  margin   : 0em 0px 2em 0em;
  font-size: 1.2em;

}

.masthead.segment h1.ui.header .sub {
  font-size: 0.7em;
}

.masthead.segment .image {
  position: absolute;
  left    : 0%;
  bottom  : -140px;
}

.overview .divided.grid .header + p {
  min-height: 100px;
}

.ui.shape .icon,
.link.list .icon {
  margin : 0em;
  padding: 0em;
}

.ui.cube.shape .side {
  background-color: transparent;
}

/*******************************
          Responsive
*******************************/

/* Mobile Only */

@media only screen and (max-width : 769px) {

   .events, .tools {
    margin: auto !important;
  }

  .ui.page.grid.segment {
    padding-top   : 2rem;
    padding-bottom: 2rem;
  }

  .menu .right.menu > .item {
    display: none;
  }

  .menu .right.menu > .mobile.item {
    display: block;
  }

  h1.ui.header {
    font-size: 1.5em;
  }

  .masthead.segment {
    -webkit-background-size: auto;
    background-size        : auto;
  }

  .masthead.segment .information {
    margin-left: 190px;
  }

  .masthead.segment .image {
    bottom: -75px;
    width : 150px;
  }

  .masthead.segment .button {
    font-size: 1rem;
  }

  .overview .divided.grid .header .icon {
    font-size: 1.5em;
  }

  .overview .divided.grid .header + p {
    min-height: 0px;
  }

  .masthead.segment .column {
    font-size: 0.7rem;
  }

  .masthead.segment .column p {
    display: none;
  }

  .selection.list .right.floated {
    display: none;
  }
}

@media only screen and (max-width : 1000px) {

}
